body {
  height: 100%;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
}

button {
  background-color: transparent;
  border: none;
  cursor:pointer;
  color: #fff;
}


/* img */
img {
  position: absolute;
  /* width:100%; */
  max-width: 100%;
  height: auto;
  z-index: -1;
  background-size: cover;
}

ul {
  list-style: none;

  align-items: center;
}

.hidden {
  display: none;
}

input {
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-size: 20px;
}

input::placeholder {
  color: #fff;
  font-size: 15px;
}

/* Greeting */
h1 {
  font-size: 40px;
  margin-bottom : 10px;

}
.login-form {
  margin-top: 80px;
  margin-bottom: 48px;
}
.login-form input{
  font-size: 20px;
}
/* Clock */
h2{
  font-size: 50px;
}

/* Quote */
#quote {
  position: fixed;
  bottom: 50px;
}

/* TODolist */
#todo-form{
  display: inline-grid;
}

#todo-form p {
  font-size: 22px;
}

#todo-form li {
font-size: 18px;
}

/* Weather */
#weather {
  position: fixed;
  top: 15px;
  right: 10px;
}